{
  "urls": [
    "https://www.apple.com/ca/shop/fulfillment-messages?pl=true&mts.0=regular&parts.0=MQ0F3VC/A&location=M8V%201A4",
    "https://www.apple.com/ca/shop/fulfillment-messages?pl=true&mts.0=regular&parts.0=MQ1E3VC/A&location=M8V%201A4",
    "https://www.apple.com/ca/shop/fulfillment-messages?pl=true&mts.0=regular&parts.0=MPXU3VC/A&location=M8V%201A4",
    "https://www.apple.com/ca/shop/fulfillment-messages?pl=true&mts.0=regular&parts.0=MQ0Q3VC/A&location=M8V%201A4"
  ],
  "chats": []
}